@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Pavanam:400|Inter:500,700,400|Outfit:400");
* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
html,
body {
  margin: 0px;
  font-family: "Arial-Regular", "Inter", sans-serif; /* Police de caractères */
  font-size: 16px; /* Taille de la police */
  color: #000000; /* Couleur du texte */
  background-color: #ececec; /* Couleur de fond */
  line-height: 1.5; /* Hauteur de ligne */
}
/* a blue color as a generic focus style */
button:focus-visible {
  outline: 2px solid #4a90e2 !important;
  outline: -webkit-focus-ring-color auto 5px !important;
}
a {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}
@font-face {
  font-family: "Arial-Regular";
  src: url("https://anima-uploads.s3.amazonaws.com/projects/66eaa9f8e5d9b24120c2de64/fonts/satoshi-regular.ttf")
    format("truetype");
}

@font-face {
  font-family: "Arial-Black";
  src: url("https://anima-uploads.s3.amazonaws.com/5b36da2d842b010009abe627/Arial Black.ttf")
    format("truetype");
}

@font-face {
  font-family: "Arial-Bold";
  src: url("https://anima-uploads.s3.amazonaws.com/projects/673fe060bc2db07f0203dda5/fonts/ariblk.ttf")
    format("truetype");
}
